body{
    height: 100%;
    background-image: url(../img/Vinfast/nen_dangKi.png);
    background-size: 100% 100%;
    background-size: cover;
}
#main{

    height: 100%;

}
.container{
    background-color: aliceblue;
    margin-top: 50px;
    height: auto;
    width: 500px;
}
.nav .nav-tabs{
}
.nav-item{
    
    
}
.tab-content{

}
.form-group{

    
}
.form-control{
    margin: 12px 0;
}
.tab-content #DangKy button,
#DangNhap button{
    width: 320px;
    margin: 30px 0;
}