 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     font-family: Arial;
     font-size: 17px;
     height: 3000px;

 }

 .text-white {
     color: #fff !important;
 }

 #myVideo {
     position: fixed;
     right: 0;
     bottom: 0;
     width: 100%;
     /* height: 700px */
     min-height: 100%;
 }

 .content {
     position: fixed;
     bottom: 0;
     background: rgba(0, 0, 0, 0.5);
     color: #f1f1f1;
     width: 100%;
     padding: 20px;
 }

 #myBtn {
     width: 200px;
     font-size: 18px;
     padding: 10px;
     border: none;
     background: #000;
     color: #fff;
     cursor: pointer;
 }

 #myBtn:hover {
     background: #ddd;
     color: black;
 }

 body {
     background-color: #000;
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
 }
 nav {
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     width: 100%;
     height: 60px;
     background: rgba(0, 0, 0, 80%);
     padding: 0 100px;
     box-sizing: border-box;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
         0 2px 2px rgba(0, 0, 0, 0.65),
         0 4px 4px rgba(0, 0, 0, 0.12),
         0 8px 8px rgba(0, 0, 0, 0.12),
         0 16px 16px rgba(0, 0, 0, 0.12);
 }



 nav .brand {
     float: left;
     height: 100%;
     line-height: 80px;
 }

 nav .brand h2 {
     margin: 0;
     padding: 0;
     color: #fff;
 }

 nav .brand>a img {
     width: 150px;
     opacity: 1;
     padding-bottom: 20px;
 }

 nav>ul {
     float: left;
     display: flex;
     margin: -10px;
     padding: -10px;
     margin-left: 25px;
 }

 nav ul li {
     width: 142px;
     list-style: none;
     position: relative;
 }

 nav>ul>li>a {
     /* position: relative; */
     display: block;
     height: 80px;
     line-height: 80px;
     padding: 0 20px;
     box-sizing: border-box;
     color: #fff;
     text-decoration: none;
     transition: 0.5s;
     text-align: center;
 }

 nav ul li a:hover {
     color: #cb2a1d;
     text-decoration: none;
     margin-left: 4px;
 }

 nav .sub-nav {
     display: block;
     background-color: #000;
     margin-top: -10px;
     padding: 0;
     display: none;
 }

 nav .sub-nav li {
     /* position: absolute; */
     list-style-type: none;
     float: none;
     background: #000;
     padding: 3px 15px;
 }

 nav .sub-nav li a {
     text-decoration: none;
     color: #fff;
 }

 nav li:hover .sub-nav {
     display: block;
 }

 nav li i {
     font-size: 10px;
 }

 .account {
     display: flex;
     position: absolute;
     right: 200px;
     top: 20px;
 }

 .account li {
     list-style-type: none;

 }

 .account li a {
     /* font-size: ; */
     color: #fff;
     padding: 0 12px;
     text-decoration: none;
 }

 .account li a i {
     font-size: 18px;
     font-weight: 500;
 }

 .tablet {
     display: none;
 }

 .account li a:hover {

     color: #cb2a1d;
 }

 section.section2 {
     padding: 150px;
 }

 #THONGTIN .carousel-inner img {
     width: 100%;
     max-height: 520px;
 }

 .carousel-inner img {
     width: 100%;
     height: 100%;
 }

 .carousel_slide {
     filter: brightness(50%);

 }

 .bangthongtin {
     margin-left: 750px;
     margin-top: -560px;
     width: 300px;
     height: 386px;
     background-color: #fff;
     display: inline-block;
     padding: 26px;
     position: absolute;
     top: 525px;
     border-radius: 25px;
 }

 .bangthongtin p {
     padding: 15px 0;
     color: 707070;
     /* line-height: 18px;    */
     font-size: 13px;
 }

 /* NAV TABLET */
 .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #111;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
 }

 .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #ffffff;
     display: block;
     transition: 0.3s;
     list-style-type: none;
 }

 .dropdown-container {
     display: none;
     background-color: #262626;
     padding-left: 8px;
 }

 .sidenav a,
 .dropdown-btn {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 20px;
     color: #ffffff;
     display: block;
     border: none;
     background: none;
     width: 100%;
     text-align: left;
     cursor: pointer;
     outline: none;
 }

 .sidenav a:hover {
     color: #cb2a1d;
     margin-left: 4px;
     text-decoration: none;
 }

 .sidenav .closebtn {
     position: absolute;
     top: 0;
     left: 180px;
     font-size: 42px;
     margin-left: 50px;
 }


 /* END NAV */
 .container h1 {
     margin-top: 70px;
     text-align: center;
     color: #fff;
 }

 .thongtinxe {
     color: #fff;
 }

 .thongtinxe .row {
     margin: 60px 0;

 }

 .thongtinxe .row .col-sm-3 {
     padding-left: 32px;
 }

 .thongtinxe .row .col-sm-3 h5 {
     letter-spacing: 3px;
     color: #CCC;
     font-size: 17px;
     margin-top: 12px;
 }

 .thongtinxe .row h4 {
     line-height: 37px;
     padding: 12px 0;
 }

 .thongtinxe .row .col-sm-3 p {
     margin: 0 0 100px;
     font-size: 13px;
 }

 .thongtinxe .row .col-sm-3 img {
     margin: 10px auto;
     /* overflow: hidden; */
     /* width: 100%; * Hình ảnh rộng 100% so với vùng chứa *  */
     transition: all 1s;
     /** Tạo độ mượt **/

 }

 .thongtinxe .row .col-sm-3:hover img {

     -webkit-transform: scale(1.2);
     transform: scale(1.2);
 }



 #nen_1:hover {
     background-image: url(../img/Vinfast/nen_content.png);
 }

 #nen_2:hover {
     background-image: url(../img/Vinfast/nen_content2.png);
 }

 #nen_3:hover {
     background-image: url(../img/Vinfast/nen_content3.png);
 }

 #nen_4:hover {
     background-image: url(../img/Vinfast/nen_content1.png);
 }

 .xemaydien .row img {
     overflow: hidden;
 }

 .xemaydien>h4 {
     font-size: 36px;
     letter-spacing: 18px;
     font-weight: 500px;
     text-align: center;
     margin: 59px 2px;
     padding: 100px 0px;
     line-height: 15px;
 }

 .xemaydien .col-sm h5 {
     vertical-align: middle;
     text-align: center;
     margin: 50px 32px;
     font-size: 14px;

 }

 .xemaydien .sontung {
     margin-left: 250px;
 }

 .xemaydien .sontung h4 {
     text-align: center;
     font-size: 16px;
     letter-spacing: 2px;
     padding-top: 12px;
 }

 .xemaydien .sontung p {
     margin-left: 650px;
     margin-top: -35px;
 }

 .footer {
     margin-top: 100px;
 }

 .footer img {
     margin: 12px 50px 50px 45%;
     height: 50px;
 }

 .footer .row {
     margin-left: 50px;
 }

 .footer .contant {
     font-size: 16px;
     font: bold;
     font-weight: 700;
 }

 .footer ul li {
     list-style-type: none;
 }

 .footer ul li a {
     color: #fff;
     text-decoration: none;
     line-height: 40px;
     font-size: 14px;
 }

 .footer ul li:hover a {
     color: #cb2a1d;
 }

 .footer .ti i {
     color: #000;
     background-color: #fff;
     height: 30px;
 }

 .footer i[class*="ti-"] {
     font-size: 20px;


 }

 .footer .icon {
     display: flex;
     margin: 12px 44px;

 }

 .footer .icon li {
     margin: 2px;
     border-radius: 50%;
     padding: 7px 10px;
     list-style-type: none;
     background-color: #fff;
     color: #000;
     text-align: center;
 }

 .footer .icon li:hover {
     color: brown;
     transition: 0.5s;
 }

 .designby {
     text-align: center;
     background-color: #eee;
 }

 .designby i {
     color: black;
     text-align: center;
 }